

<h1>Listing grades</h1>

<table>
  <tr>
    <th>Product</th>
    <th>Grade</th>
    <th colspan="3"/>
    
  </tr>

  <% @grades.each do |grade| %>
    <tr>
      
      <td><%= grade.product.humanize %></td>
      <td><%= grade.name %></td>

      <% if can? :manage, :grades %>
        <td><%= link_to 'Show', grade %></td>
        <td><%= link_to 'Edit', edit_grade_path(grade) %></td>
        <td><%= link_to 'Delete', grade, :confirm => 'Are you sure?', :method => :delete %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<br />

<% if can? :create, :grades %>
  <%= link_to 'New Grade', new_grade_path %>

<% end %>