<table align="center" >
  <tr align="center" HEIGHT=20 ><th/><h2>Customer Complain Form</h2>
  <tr/>
</table>

<table>
  <tr/>
  <th/><input name="print" value="打 印 | Print" type="button" url=="javascript:;" onClick="doPrint('1')"/>
  <th/><%= button_to '编 辑 | Edit', edit_complain_path(@complain), :method=>:get %>
  <th/><%= button_to '返 回 | Back', complains_path, :method=>:get %>
  <tr/>
</table>

<p id="notice"><%= notice %></p>
<!--sprint-1-->

<font   size="5pt" >
<table align="center" >
  <tr align="center" HEIGHT=20 ><th/><strong/>G.S.ENERGY CO.,LTD
  <tr align="center" HEIGHT=20 ><th/><strong/>Customer Complain Form
</table>
</font>

<font   size="3pt" >
GS-02-002
<table class="print" border="1px" align="center" cellspacing="0" cellpadding="0" width="740">

  <tr align="center" HEIGHT=25>
    <th/>Code
    <th/>Complain Date
    <th/>Customer's Name
  </tr>
  <tr align="center" HEIGHT=35>
    <td/><%= @complain.code %>
    <td/><%= @complain.date %>
    <td/><%= @complain.customer_name %>
  </tr>

  <tr align="center" HEIGHT=25>
    <th/>Related P.O.
    <th/>Complain Type
    <th/>Related Departments
  </tr>
  <tr align="center" HEIGHT=35>
    <td/><%= @complain.po %>
    <td/><%= @complain.c_type.humanize %>
    <td/>Major: <%= @complain.ma_dept %><br/>Minor: <%= @complain.mi_dept %>
</tr>

<tr align="center" HEIGHT=25>
  <th colspan="3"/>Customer Complain Content
</tr>
<tr HEIGHT=180>
  <td colspan="3"/><%= simple_format(@complain.content) %>
</tr>

<tr align="center" HEIGHT=25>
  <th colspan="3"/>Initial Solution and Action
</tr>
<tr HEIGHT=180>
  <td colspan="3"/><%= simple_format(@complain.action) %>
</tr>

<tr align="center" HEIGHT=25>
  <th colspan="3"/>Case Trace on <%= @complain.trace_date %> 
</tr>
<tr HEIGHT=180>
  <td colspan="3"/><%= simple_format(@complain.trace) %>
</tr>

</table>

<table class="print" border="1px" align="center" cellspacing="0" cellpadding="0" width="740">
  <tr HEIGHT="45"/>
  <th/>Case Officer:
  <th/>Case Close Date:
</table>
GS-02-002
<!--eprint-1-->

<table>
  <tr/>
  <tr/>
  <th/><input name="print" value="打 印 | Print" type="button" url=="javascript:;" onClick="doPrint('1')"/>
  <th/><%= button_to '编 辑 | Edit', edit_complain_path(@complain), :method=>:get %>
  <th/><%= button_to '返 回 | Back', complains_path, :method=>:get %>
</table>