<table>
  <tr>
    <td>
      <h2>环 保 除 尘 系 统 运 行 记 录</h2>
    </td>
  </tr>
</table>

<p id="notice"><%= notice %></p>


<table>
  <tr/><th colspan="3"/>基 本 信 息
  <tr/>
  <th/> 时 间
  <th/> 炉 号
  <th/> 储 气 罐 压 力
  <tr/>
  <td/><%= @env_monitor.created_at.strftime("%H:%M | %Y-%m-%d") rescue nil %>
  <td/><%= @env_monitor.furnace rescue nil%>
  <td/><%= @env_monitor.p_airtank rescue nil%> Pa
</table>

<table>
  <tr/><th colspan="3"/>出 铁 口 风 机 数 据
  <tr/>
  <th/> 轴 承 温 度-1
  <th/> 轴 承 温 度-2
  <th/> 电 流
  <tr/>
  <td/><%= @env_monitor.o_bearing1 rescue nil%> ℃
  <td/><%= @env_monitor.o_bearing2 rescue nil%> ℃
  <td/><%= @env_monitor.o_current rescue nil%>
</table>

<table>
  <tr/><th colspan="5"/>主 风 机 | 电 机 数 据
  <tr/>
  <th/> 电 流
  <th/> 电 机 转 速
  <th/> 轴 承 温 度-1
  <th/> 轴 承 温 度-2
  <th/> 定 子 温 度
  <tr/>
  <td/><%= @env_monitor.m_current rescue nil%>
  <td/><%= @env_monitor.m_speed rescue nil%>
  <td/><%= @env_monitor.m_bearing1 rescue nil%> ℃
  <td/><%= @env_monitor.m_bearing2 rescue nil%> ℃
  <td/><%= @env_monitor.m_stator rescue nil%> ℃
</table>

<table>
  <tr/><th colspan="5"/>空 冷 器 | 除 尘 器 数 据
  <tr/>
  <th/> 空冷器入口温度
  <th/> 预除尘出口温度
  <th/> 除尘器入口温度
  <th/> 除尘器入口压力-清灰前
  <th/> 除尘器入口压力-清灰后
  <tr/>
  <td/><%= @env_monitor.c_in_t rescue nil%> ℃
  <td/><%= @env_monitor.o_t rescue nil%> ℃
  <td/><%= @env_monitor.in_c rescue nil%> ℃
  <td/><%= @env_monitor.bc_p rescue nil%> Pa
  <td/><%= @env_monitor.ac_p rescue nil%> Pa
</table>

<table>
  <tr/><th colspan="5"/>反 吸 风 机 数 据
  <tr/>
  <th/> 轴 承 温 度-1
  <th/> 轴 承 温 度-2
  <th/> 清 灰 电 流
  <tr/>
  <td/><%= @env_monitor.rs_bearing1 rescue nil%> ℃
  <td/><%= @env_monitor.rs_bearing2 rescue nil%> ℃
  <td/><%= @env_monitor.rs_current rescue nil%>
</table>

<table>
  <tr/>
  <th/><%= button_to '编 辑 | Edit', edit_env_monitor_path(@env_monitor), :method=>:get %>
  <th/><%= button_to '返 回 | Back', env_monitors_path, :method=>:get %>
</table>