<p id="notice"><%= notice %></p>

<p>
  <b>Coa:</b>
  <%= @coasilicon.coa_id %>
</p>

<p>
  <b>Silicon:</b>
  <%= @coasilicon.silicon_id %>
</p>

<p>
  <b>Bag:</b>
  <%= @coasilicon.bag %>
</p>

<p>
  <b>Remark:</b>
  <%= @coasilicon.remark %>
</p>


<%= link_to 'Edit', edit_coasilicon_path(@coasilicon) %> |
<%= link_to 'Back', coasilicons_path %>
