<p id="notice"><%= notice %></p>

<p>
  <b>1:</b>
  <%= @hr_attendence.1 %>
</p>

<p>
  <b>2:</b>
  <%= @hr_attendence.2 %>
</p>

<p>
  <b>3:</b>
  <%= @hr_attendence.3 %>
</p>

<p>
  <b>4:</b>
  <%= @hr_attendence.4 %>
</p>

<p>
  <b>5:</b>
  <%= @hr_attendence.5 %>
</p>

<p>
  <b>6:</b>
  <%= @hr_attendence.6 %>
</p>

<p>
  <b>7:</b>
  <%= @hr_attendence.7 %>
</p>

<p>
  <b>8:</b>
  <%= @hr_attendence.8 %>
</p>

<p>
  <b>9:</b>
  <%= @hr_attendence.9 %>
</p>

<p>
  <b>10:</b>
  <%= @hr_attendence.10 %>
</p>


<%= link_to 'Edit', edit_hr_attendence_path(@hr_attendence) %> |
<%= link_to 'Back', hr_attendences_path %>
