<%= form_for(@mssample) do |f| %>
  <% if @mssample.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mssample.errors.count, "error") %> prohibited this mssample from being saved:</h2>

      <ul>
      <% @mssample.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cate %><br />
    <%= f.text_field :cate %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :weight %><br />
    <%= f.text_field :weight %>
  </div>
  <div class="field">
    <%= f.label :typ %><br />
    <%= f.text_field :typ %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
