
<%= form_for(@purchase_request) do |f| %>
  <% if @purchase_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@purchase_request.errors.count, "error") %> prohibited this purchase_request from being saved:</h2>

      <ul>
        <% @purchase_request.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>



  <%= render "purchase/requests/info" %>



  <% if can? :manage, :purchase %>

    <%= f.hidden_field :confirm, :value =>"", :present=>true %>
    <%= f.hidden_field :p_confirm, :value =>"", :present=>true %>
    

    <table align="center">
      <tr align="center">
        <td align="center" style="color:#ff0000;">* Rejection Reasons are Required !</td>
      </tr>
      <tr align="center">
        <td align="center"><%= f.text_area :reject, :rows => 4, :cols => 50, :placeholder=>"Reason of Rejection | 取消采购确认原因", :required=>true  %><br/></td>
      </tr>
    </table>

  <% end %>

  <p></p>


  <table align="center">
    <tr>  
      <th><%= f.submit "Reject! | 取 消 采 购 确 认" %><% end %></th>
  </tr>
</table>
