<h2>采 购 进 度 查 询<br/>Purchase Requests Trace</h2>

<p></p>

<table>
  <tr>
    <th><%= button_to 'New Request', new_purchase_request_path, :method=>:get %></th>
    <th><%= will_paginate @purchase_requests %></th>
  </tr>
</table>
<table>
  <tr><th colspan="10">* 点 击 采 购 编 号 显 示 采 购 细 节 | Click Purchase Code To Show Detail </th></tr>
  <tr><th colspan="10">颜 色 定 义 | Meaning of Font Color : <font color="#ff0000">超期采购-Delay!</font> | <font color="#ffcc00">紧急采购-Urgent!</font> | 正常采购-Normal </th></tr>

  <tr>
    <th>采购单号<br/>Purchase Code</th>
    <th>采购物品<br/>Item Name</th>
    <th>采购数量<br/>Quantity</th>
    <th>采购进度<br/>Status</th>
    <th colspan="2">操 作<br/>Operation</th>
  </tr>

  <% @purchase_requests.each do |purchase_request| %>

    <%= render "status", :purchase_request=>purchase_request %>

    <tr onmouseover="javascript:openLinkBox('Due Date|需求日期  : <%= purchase_request.deadline.strftime("%Y-%m-%d") rescue nil %><br/>Only <%=  @duration %> Days Left | 距需求日期还有 <%=  @duration %> 天 <br/>Request Date|请购日期 : <%= purchase_request.created_at.strftime("%Y-%m-%d") rescue nil %><br/>Submit by : <%= purchase_request.name rescue nil %><br/>Confirmed by : <%= purchase_request.confirm rescue nil %> <br/>Reject | 拒绝采购: <%= purchase_request.reject rescue nil %>', 'ffffff', 'ffffff', '1px', '', '', '', '250');" onmouseout="javascript:closeLinkBox();">
      <td><%= link_to "#{purchase_request.code}", purchase_request, {:style=>'color:'+@color} %></td>
      <td style="color:<%=@color%>;"><%= purchase_request.i_name rescue nil %></td>
      <td><%= purchase_request.qty rescue nil %></td>
      <td style="color:<%= @status_color %>;"><%= simple_format @status %></td>
      <% if purchase_request.wh_reject_note != nil && purchase_request.cancel.nil?  %>  
        <td><%= button_to "重新提交\nRe-send", edit_purchase_request_path(purchase_request), :method=>:get %></td>
        <td><%= button_to "艹!不买了！\nDelete !", {:controller => "requests", :action => "canceling", :id => purchase_request.id }, :method=>:get, :onclick => "this.form.target = 'canceling'; window.open('requests','canceling', 'height = 550, width = 650, top = 10, left = 20, scrollbars = 0, toolbar = 0, status = 0, menubar = 0, location = 0')"  %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<br />


<table>
  <tr>
    <th><%= button_to 'New Request', new_purchase_request_path, :method=>:get %></th>
    <th><%= will_paginate @purchase_requests %></th>
  </tr>
</table>

