<% if can? :manage, :po %>

  <h2>Listing Freight Companies</h2>

  <table>
    <tr>
      <th>Name</th>
      <th>Contact</th>
      <th>Phone</th>
      <th>Email</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

    <% @freights.each do |freight| %>
      <tr>
        <td><%= freight.name %></td>
        <td><%= freight.contact %></td>
        <td><%= freight.phone %></td>
        <td><%= freight.email %></td>
        <td><%= link_to 'Show', freight %></td>
        <td><%= link_to 'Edit', edit_freight_path(freight) %></td>
        <td><%= link_to 'Del', freight, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
  </table>

  <br />

  <%= button_to 'New Freight', new_freight_path, :method=>:get %>

<% else %>

  <%= render "site/denied"  %>

<% end %>