<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @silicon_metal_po.date %>
</p>

<p>
  <strong>Po code:</strong>
  <%= @silicon_metal_po.po_code %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @silicon_metal_po.customer %>
</p>

<p>
  <strong>Product:</strong>
  <%= @silicon_metal_po.product %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @silicon_metal_po.grade %>
</p>

<p>
  <strong>B size:</strong>
  <%= @silicon_metal_po.b_size %>
</p>

<p>
  <strong>Qty:</strong>
  <%= @silicon_metal_po.qty %>
</p>

<p>
  <strong>P size:</strong>
  <%= @silicon_metal_po.p_size %>
</p>

<p>
  <strong>Contract no:</strong>
  <%= @silicon_metal_po.contract_no %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @silicon_metal_po.destination %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @silicon_metal_po.deadline %>
</p>

<p>
  <strong>Remark:</strong>
  <%= @silicon_metal_po.remark %>
</p>

<%= link_to 'Edit', edit_silicon_metal_po_path(@silicon_metal_po) %> |
<%= link_to 'Back', silicon_metal_pos_path %>
