<%= form_for(@e_furnace) do |f| %>
  <% if @e_furnace.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@e_furnace.errors.count, "error") %> prohibited this e_furnace from being saved:</h2>

      <ul>
        <% @e_furnace.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% @electrode_note="注:提升电极请使用负数\n例：若电极提升10公分|厘米\n请填入：- 10 " %>

  <table>
    <tr>
      <th colspan="2">Basic Information | 基 本 信 息</th>
    </tr>
    <tr>
      <th>日 期 | Date</th>
      <th>炉 号 | Furnace</th>
    </tr>
    <tr>
      <td><%= f.text_field :date, :size=>"8", :class => "datePicker" %></td>
      <td><%= f.collection_select :furnace, %w[1 2 3 4 5 6], :to_s, :humanize, :prompt=>'-Select-', :required=>true %></td>
    </tr>
  </table>

  <%##################### Basic Info. End ########################################%>
  <p></p>  
  <%#########################  Shift-1 Start  #####################################%>  

  <table>
    <tr>
      <th colspan="7">00:00 - 08:00 点 班 ( 一 班 ) 运 行 记 录 | 00:00 - 08:00 ( Shift - 1 ) Running Info.</th>
    </tr>
    <tr>
      <th>耗 电 量<br/>Electricity<br/>Consumption<br/>Unit : 千瓦|Kw</th>
      <th>无功功率<br/>Reactive<br/>Power<br/>Unit : 千瓦|Kw</th>
      <th>矿 石<br/>领用量<br/>Quartzs<br/>Unit:Kg</th>
      <th>木 炭<br/>领用量<br/>Charcoal<br/>Unit:Kg</th>
      <th>石 油 焦<br/>领用量<br/>Coke<br/>Unit:Kg</th>
      <th>木 块<br/>领用量<br/>Wood<br/>Unit:Kg</th>
      <th>铁<br/>领用量<br/>Fe<br/>Unit:Kg</th>
    </tr>
    <tr>
      <td><%= f.text_field :s1_e, :size=>"5", :value => @s1_e %></td>
      <td><%= f.text_field :s1_rp, :size=>"5", :value => @s1_rp %></td>
      <td><%= f.text_field :s1_q, :size=>"5", :value => @s1_q %></td>
      <td><%= f.text_field :s1_ch, :size=>"5", :value => @s1_ch %></td>
      <td><%= f.text_field :s1_c, :size=>"5", :value => @s1_c %></td>
      <td><%= f.text_field :s1_w, :size=>"5", :value => @s1_w %></td>
      <td><%= f.text_field :s1_fe, :size=>"5", :value => @s1_fe %></td>
    </tr>
  </table>
  <table>
    <tr>
      <th title="<%=@electrode_note %>" >A 相<br/>电极升降<br/>Electrode<br/>Unit:cm</th>
      <th title="<%=@electrode_note %>" >B 相<br/>电极升降<br/>Electrode<br/>Unit:cm</th>
      <th title="<%=@electrode_note %>" >C 相<br/>电极升降<br/>Electrode<br/>Unit:cm</th>
      <th>Shift-1 | 一 班<br/>Foreman<br/>班长</th>
    </tr>
    <tr>
      <td title="<%=@electrode_note %>" ><%= f.text_field :s1_electrode_a, :size=>"6", :value => @s1_electrode_a %></td>
      <td title="<%=@electrode_note %>" ><%= f.text_field :s1_electrode_b, :size=>"6", :value => @s1_electrode_b %></td>
      <td title="<%=@electrode_note %>" ><%= f.text_field :s1_electrode_c, :size=>"6", :value => @s1_electrode_c %></td>
      <td><%= f.text_field :foreman_s1, :size=>"6" %></td>
    </tr>
  </table>


  <%#########################  Shift-1 End #####################################%>  
  <p></p>  
  <%#########################  Shift-2 Start  #####################################%>  

  <table>
    <tr>
      <th colspan="7">08:00 - 16:00 点 班 ( 二 班 ) 运 行 记 录 | 08:00 - 16:00 ( Shift - 2 ) Running Info.</th>
    </tr>
    <tr>
      <th>耗 电 量<br/>Electricity<br/>Consumption<br/>Unit : 千瓦|Kw</th>
      <th>无功功率<br/>Reactive<br/>Power<br/>Unit : 千瓦|Kw</th>
      <th>矿 石<br/>领用量<br/>Quartzs<br/>Unit:Kg</th>
      <th>木 炭<br/>领用量<br/>Charcoal<br/>Unit:Kg</th>
      <th>石 油 焦<br/>领用量<br/>Coke<br/>Unit:Kg</th>
      <th>木 块<br/>领用量<br/>Wood<br/>Unit:Kg</th>
      <th>铁<br/>领用量<br/>Fe<br/>Unit:Kg</th>
    </tr>
    <tr>
      <td><%= f.text_field :s2_e, :size=>"5", :value=>@s2_e %></td>
      <td><%= f.text_field :s2_rp, :size=>"5", :value => @s2_rp %></td>
      <td><%= f.text_field :s2_q, :size=>"5", :value=>@s2_q %></td>
      <td><%= f.text_field :s2_ch, :size=>"5", :value=>@s2_ch %></td>
      <td><%= f.text_field :s2_c, :size=>"5", :value=>@s2_c %></td>
      <td><%= f.text_field :s2_w, :size=>"5", :value=>@s2_w %></td>
      <td><%= f.text_field :s2_fe, :size=>"5", :value => @s2_fe %></td>
    </tr>
  </table>
  <table>
    <tr>
      <th title="<%=@electrode_note %>" >A 相<br/>电极升降<br/>Electrode<br/>Unit:cm</th>
      <th title="<%=@electrode_note %>" >B 相<br/>电极升降<br/>Electrode<br/>Unit:cm</th>
      <th title="<%=@electrode_note %>" >C 相<br/>电极升降<br/>Electrode<br/>Unit:cm</th>
      <th>Shift-2 | 二 班<br/>Foreman<br/>班长</th>
    </tr>
    <tr>
      <td title="<%=@electrode_note %>" ><%= f.text_field :s2_electrode_a, :size=>"6", :value => @s2_electrode_a %></td>
      <td title="<%=@electrode_note %>" ><%= f.text_field :s2_electrode_b, :size=>"6", :value => @s2_electrode_b %></td>
      <td title="<%=@electrode_note %>" ><%= f.text_field :s2_electrode_c, :size=>"6", :value => @s2_electrode_c %></td>
      <td><%= f.text_field :foreman_s2, :size=>"6" %></td>
    </tr>
  </table>

  <%#########################  Shift-2 End #####################################%>  
  <p></p>  
  <%#########################  Shift-3 Start  ####################################%>  

  <table>
    <tr>
      <th colspan="7">16:00 - 24:00 点 班 ( 三 班 ) 运 行 记 录 | 16:00 - 24:00 ( Shift - 3 ) Running Info.</th>
    </tr>
    <tr>
      <th>耗 电 量<br/>Electricity<br/>Consumption<br/>Unit : 千瓦|Kw</th>
      <th>无功功率<br/>Reactive<br/>Power<br/>Unit : 千瓦|Kw</th>
      <th>矿 石<br/>领用量<br/>Quartzs<br/>Unit:Kg</th>
      <th>木 炭<br/>领用量<br/>Charcoal<br/>Unit:Kg</th>
      <th>石 油 焦<br/>领用量<br/>Coke<br/>Unit:Kg</th>
      <th>木 块<br/>领用量<br/>Wood<br/>Unit:Kg</th>
      <th>铁<br/>领用量<br/>Fe<br/>Unit:Kg</th>
    </tr>
    <tr>
      <td><%= f.text_field :s3_e, :size=>"5", :value=>@s3_e %></td>
      <td><%= f.text_field :s3_rp, :size=>"5", :value => @s3_rp %></td>
      <td><%= f.text_field :s3_q, :size=>"5", :value=>@s3_q %></td>
      <td><%= f.text_field :s3_ch, :size=>"5", :value=>@s3_ch %></td>
      <td><%= f.text_field :s3_c, :size=>"5", :value=>@s3_c %></td>
      <td><%= f.text_field :s3_w, :size=>"5", :value=>@s3_w %></td>      
      <td><%= f.text_field :s3_fe, :size=>"5", :value => @s3_fe %></td>
    </tr>
  </table>
  <table>
    <tr>
      <th title="<%=@electrode_note %>" >A 相<br/>电极升降<br/>Electrode<br/>Unit:cm</th>
      <th title="<%=@electrode_note %>" >B 相<br/>电极升降<br/>Electrode<br/>Unit:cm</th>
      <th title="<%=@electrode_note %>" >C 相<br/>电极升降<br/>Electrode<br/>Unit:cm</th>
      <th>Shift-3 | 三 班<br/>Foreman<br/>班长</th>
    </tr>
    <tr>
      <td title="<%=@electrode_note %>" ><%= f.text_field :s3_electrode_a, :size=>"6", :value => @s3_electrode_a %></td>
      <td title="<%=@electrode_note %>" ><%= f.text_field :s3_electrode_b, :size=>"6", :value => @s3_electrode_b %></td>
      <td title="<%=@electrode_note %>" ><%= f.text_field :s3_electrode_c, :size=>"6", :value => @s3_electrode_c %></td>
      <td><%= f.text_field :foreman_s3, :size=>"6" %></td>
    </tr>
  </table>

  <%#########################  Shift-3 End #####################################%>  
  <p></p> 

  <table>
    <tr>
      <th>生 产 备 注 | Production Remark</th>
    </tr>
    <tr>
      <td><%= f.text_area :remark, :rows => 4, :cols => 70, :value => @remark %></td>
    </tr>
  </table>

  <% if can? :create, :furnace %>
    <%= f.hidden_field :operator, :value => current_user.username %>
  <% end %>

  <table>
    <tr>
      <th><%= f.submit "提 交 | Submit" %><% end %></th>
    <th><%= button_to '返 回 | Back', e_furnaces_path, :method=>:get %></th>
  </tr>
</table>
