<p id="notice"><%= notice %></p>

<p>
  <b>Ms shippment:</b>
  <%= @msshiplot.ms_shippment_id %>
</p>

<p>
  <b>Spec:</b>
  <%= @msshiplot.spec %>
</p>

<p>
  <b>Lot:</b>
  <%= @msshiplot.lot %>
</p>


<%= link_to 'Edit', edit_msshiplot_path(@msshiplot) %> |
<%= link_to 'Back', msshiplots_path %>
