<%= form_for(@purchase_request_photo) do |f| %>
  <% if @purchase_request_photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@purchase_request_photo.errors.count, "error") %> prohibited this purchase_request_photo from being saved:</h2>

      <ul>
      <% @purchase_request_photo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :request_id %><br />
    <%= f.text_field :request_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
