<%= form_for(@payment) do |f| %>
  <% if @payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
        <% @payment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p></p>

  <table>
    <tr>
      <th>Received Date <br/>收 到 付 款 日 期</th>
      <!-- <th>P.O. Number <br/>订 单 号 码</th> -->
      <th>Invoice Number <br/>发 票 号 码</th>
    </tr>  

    <tr>
      <td><%= f.text_field :date, :size=>"8", :class => "datePicker" %></td>
  <%#= f.text_field :po, :size=>"12" %>
      <td><%= f.text_field :invoice, :size=>"12" %></td>

    </tr>
  </table>

  <table>
    <tr><th>Remark | 备 注</th></tr>
    <tr><td><%= f.text_area :remark, :rows => 4, :cols => 70 %> </td></tr>

  </table>

  <table>
    <tr>
      <th><%= f.submit "提 交 | Submit" %></th><% end %> 
    <th><%= button_to "返 回 | Back", payments_path, :method=>:get %></th>
  </tr>
</table>