
<div id="title" class="step" data-x="0" data-y="0" data-scale="2" align="center">   
  <table align="center">
    <tr align="center" ><td><h1>G.S.E</h1></td>	</tr>
    <tr align="center" ><td><strong>微 硅 粉 生 产 Microsilica Production</strong></td></tr>
    <tr align="center" ><td><strong>数 据 流 程 与 资 讯 管 理</strong></td></tr>
    <tr align="center" ><td>Production Data Flow & Management</td></tr>
  </table>
</div> <!--end of title slide -->



<div id="production" class="step" data-x="-700" data-y="800" align="center">
  <table>
    <tr><td align="center"><b>生 产 管 理 Production</b></td></tr>
    <tr><td> &nbsp </td></tr>
    <tr><td><li>运 行 数 据 --- Running Data</li></td></tr>
    <tr><td><li>包 装 数 据 --- Packing Data</li></td></tr>
  </table>
</div> 
<!--end of production slide -->




<div id="warehouse" class="step" data-x="0" data-y="800" align="center">   
  <table>
    <tr><td align="center"><b>仓 库 管 理 Warehouse</b></td></tr>
    <tr><td>&nbsp</td></tr>
    <tr><td><li>入 库 数 据 --- Storage Data</li></td></tr>
    <tr><td><li>出 货 数 据 --- Shipping Data</li></td></tr>
  </table>
  
</div> 
<!--end of warehouse slide -->



<div id="sales" class="step" data-x="750" data-y="800" align="center">   
  <table>
    <tr><td align="center" ><b>业 务 管 理 Marketing & Sales</b></td></tr> 
    <tr><td>&nbsp</td></tr>
    <tr><td><li>订 单 管 理 --- P.O Control</li></td></tr>
    <tr><td><li>库 存 查 询 --- Inventory Retrival</li></td></tr>
  </table>
</div> 
<!--end of sales slide -->



<div id="overview" class="step" data-x="0" data-y="200" data-scale="2" align="center"></div>
<!-- end of overview -->



<div id="production2" class="step" data-x="-700" data-y="800" align="center">
  <table>
    <tr><td align="center"><b>生 产 管 理 Production</b></td></tr>
    <tr><td> &nbsp </td></tr>
    <tr><td><li>运 行 数 据 --- Running Data</li></td></tr>
    <tr><td><li>包 装 数 据 --- Packing Data</li></td></tr>
  </table>
</div> 
<!--end of production2 slide -->


<div id="running" class="step" data-x="-750" data-y="1700" data-rotate="90" align="center">
  <table>
    <tr><td><strong>运 行 数 据 Running Data</strong></td></tr>
    <tr><td>&nbsp</td></tr>	
    <tr><td><li>环 保 设 备 运 行 状 态<br/>--- Equipments' Status</li></td></tr>
    <tr><td><li>加 密 仓 状 态<br/>--- Silo Running Status</li></td></tr>
    <tr><td>&nbsp</td></tr>	
  </table>
  <div class="footnote" >
    <p/>
    <font color="ff0000">
    * <b>权 责</b> : 环 保 部 门 配 电 工 作 人 员 |<b> Responsibility</b> : Microsilica Dept. Operators
    </font>	
  </div>
</div>
<!--end of running-->


<div id="device" class="step" data-x="-750" data-y="2800" data-rotate="90" align="center">
  <table align="center">
    <tr align="center" /><td/>环 保 设 备 运 行 记 录<br/>Device Running Data Record Form
    <tr align="center" /><td/><%=  image_tag("/impress_imgs/running.png")%>
  </table>
</div>
<!--end of device -->



<div id="device_done" class="step" data-x="-750" data-y="3800" data-rotate="90" align="center">
  <table align="center">
    <tr align="center" /><td/>环 保 设 备 运 行 记 录 提 交<br/>Device Running Data Record Submit
    <tr align="center" /><td/><%=  image_tag("/impress_imgs/runningdone.png")%>
  </table>
</div>
<!--end of device done -->



<div id="device_time" class="step" data-x="-750" data-y="4800" data-rotate="90" align="center">
  <table align="center">
    <tr align="center" /><td/>环 保 设 备 运 行 记 录 提 交<br/>Device Running Data Record Submit
    <tr align="center" /><td/><%=  image_tag("/impress_imgs/runningtime.png")%>
  </table>
  <div class="footnote" >
    <p/>
    <font color="ff0000">
    * <b>注 意</b> : 不 能 迟 于 规 定 时 间 1 5 分 钟 提 交 | Not Latter Than 15 Minutes After Submit Time 
    </font>	
  </div>
</div>
<!--end of device done -->



<div id="running" class="step" data-x="-750" data-y="1700" data-rotate="90" align="center">
  <table>
    <tr><td><strong>运 行 数 据 Running Data</strong></td></tr>
    <tr><td>&nbsp</td></tr>	
    <tr><td><li>环 保 设 备 运 行 状 态<br/>--- Equipments' Status</li></td></tr>
    <tr><td><li>加 密 仓 状 态<br/>--- Silo Running Status</li></td></tr>
    <tr><td>&nbsp</td></tr>	
  </table>
  <div class="footnote" >
    <p/>
    <font color="ff0000">
    * <b>权 责</b> : 环 保 部 门 配 电 工 作 人 员 |<b> Responsibility</b> : Microsilica Dept. Operators
    </font>	
  </div>
</div>
<!--end of running-->



<div id="silorunning" class="step" data-x="-1500" data-y="1700" data-rotate="90" align="center">
  <table align="center">
    <tr align="center" /><td/>加 密 仓 运 行 记 录 提 交<br/>Silo Running Data Record Submit
    <tr align="center" /><td/><%=  image_tag("/impress_imgs/silo.png")%>
  </table>
  <div class="footnote" >
    <p/>
    <font color="ff0000">
    * <b>注 意</b> : 不 能 迟 于 规 定 时 间 1 5 分 钟 提 交 | Not Latter Than 15 Minutes After Submit Time 
    </font>	
  </div>

</div>
<!--end of silorunning -->



<div id="silodone" class="step" data-x="-2500" data-y="1700" data-rotate="90" align="center">
  <table align="center">
    <tr align="center" /><td/>加 密 仓 运 行 记 录 提 交<br/>Silo Running Data Record Submit
    <tr align="center" /><td/><%=  image_tag("/impress_imgs/silodone.png")%>
  </table>

</div>
<!--end of silodone -->



<div id="production" class="step" data-x="-700" data-y="800" align="center">
  <table>
    <tr><td align="center"><b>生 产 管 理 Production</b></td></tr>
    <tr><td> &nbsp </td></tr>
    <tr><td><li>运 行 数 据 --- Running Data</li></td></tr>
    <tr><td><li>包 装 数 据 --- Packing Data</li></td></tr>
  </table>
</div> 
<!--end of production slide -->




<div id="packing" class="step" data-x="-1500" data-y="800" data-rotate="90" align="center">
  <table>
    <tr><td align="center"><b>包 装 数 据 Packing</b></td></tr>
    <tr><td> &nbsp </td></tr>
    <tr align="center" /><td/><%=  image_tag("/impress_imgs/packing.png")%>
  </table>

  <div class="footnote" >
    <p/>
    <font color="ff0000">
    * <b>注 意</b> : 必 须 在 本 班 下 班 前 提 交 | Must Submit Within Working Shift 
    </font>	
  </div>

</div> 
<!--end of packing slide -->


<div id="packingdone" class="step" data-x="-2500" data-y="800" data-rotate="90" align="center">
  <table>
    <tr><td align="center"><b>包 装 数 据 提 交 完 成<br/>Packing Submitted</b></td></tr>
    <tr><td> &nbsp </td></tr>
    <tr align="center" /><td/><%=  image_tag("/impress_imgs/packingdone.png")%>
  </table>
  <div class="footnote" >
    <font color="ff0000">
    * <b>注 意</b> : 提 交 后 需 确 认 输 入 的 数 据 是 否 准 确<br/>Please Double Check The Input Data After Submitting! 
    </font>	
  </div>
</div> 

<div id="packingcheck" class="step" data-x="-3300" data-y="800" data-rotate="90" align="center">
  <table>
    <tr><td align="center"><b>包 装 数 据 确 认<br/>Production Checking</b></td></tr>
    <tr align="center" /><td/><%=  image_tag("/impress_imgs/packingcheck.png")%>
    <tr align="center" /><td/><%=  image_tag("/impress_imgs/packingchecked.png")%>
  </table>
  <div class="footnote" >
    <font color="ff0000">
    * <b>权 责</b> : 由 生 产 经 理 于 第 二 天 中 午 前 确 认 数 据 准 确 性。<br/>Production Manager Have To Check Production Data Before Noon Of Next Day !
    </font>	
  </div>
</div>
