<table align="center" >
  <tr align="center">
    <td><h3>G.S.Energy Co.,Ltd 金 屬 硅 入 库 确 认 清 单 | รายการโลหะซิลิคอนที่ยืนยันการส่งมอบเข้าสต็อค</h3></td>
  </tr>
</table>

<table border="1px" align="center" cellspacing="0" cellpadding="0" width="1100">

  <tr align="center">
    <th>Date | 日 期 | วันที่</th>
    <th>Furnace | 炉 号 | เตา</th>
    <th>Time Shift | 班 别 | กะ</th>
    <th>Total Weight | 总 重 量<br/>น้ำหนักรวม</th>
  </tr>

  <tr align="center">
    <td><%= @start_date rescue nil %> -- <%= @end_date rescue nil %></td>
    <td><%= @furnace_name %></td>
    <td><%= @shift_name %></td>
    <td><%= @total_weight %> Kg</td>
  </tr>
</table>
<p></p>
<table border="1px" align="center" cellspacing="0" cellpadding="0" width="1100">
  <tr align="center" >
    <th colspan="6">Packing Date | วันที่บรรจุถุง  ( <%= @start_date rescue nil %> -- <%= @end_date rescue nil %> )</th>
    <th colspan="6">Warehouse Check List | รายการตรวจสอบฝ่ายสโตร์ </th>
  </tr>
  <tr align="center" >
    <th>Index<br/>序 号 | ลำดับ</th>
    <th>Bag NO. | 包 装 袋 号<br/>หมายเลขผลิตภัณฑ์</th>
    <th>Grade<br/>等 级 | เกรด</th>
    <th>Weight<br/>重 量 | น้ำหนัก<br/>Unit : KG</th>
    <th>Bag Type<br/>ประเภทถุง</th>
    <th>G.P.O</th>

    <th>Location<br/>入 库 位 置<br/>ตำแหน่งจัดเก็บ</th>
    <th>Breakage<br/>ชำรุด </th>
    <th>Impurity<br/>สกปรก</th>
    <th>Pallet<br/>พาเลท</th>
    <th>Signature<br/>ลายเซ็น </th>
    <th>Remark | 备 注<br/>หมายเหตุ </th>
  </tr>
  <% @si_bags.each_with_index do |s, index| %>
    <% if s.gpo_production.blank? then bag_gpo = s.gpo_code else bag_gpo = s.gpo_production end %>  
    <tr align="center">
      <td><%= index+1 %></td>
      <td>
        <% if s.bag_no.blank? %>
          GS-<%= s.furnace rescue nil %>-<%= s.date.strftime("%y%m%d") rescue nil %>-<%= s.shift rescue nil %>-<%= s.no rescue nil %>-<%= s.bag rescue nil %>
        <% else %>
          <%= s.bag_no[0,4] rescue nil %>-<%= s.bag_no[4,5] rescue nil %>
        <% end %>
      </td>
      <td><%= s.grade rescue nil %></td>
      <td><%= s.weight rescue nil %></td>
      <td><%= s.bag_type rescue nil %></td>
      <td><%= bag_gpo rescue nil %></td>
      <td><%= s.location rescue nil %></td>

      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  <% end %>

  <tr align="center">
    <th colspan="3">生產部入庫人員<br>พนักงานส่งสินค้าเข้าสโตร์ฝ่ายผลิต</th>
    <th colspan="2">生產部主管<br>หัวหน้าฝ่ายผลิต</th>
    <th colspan="3">成品倉庫接收人員<br>พนักงานรับสินค้าเข้าสโตร์<br>(ส่งออก)</th>
    <th colspan="3">成品倉庫主管<br>หัวหน้าสโตร์<br>(ส่งออก)</th>
  </tr>

  <tr align="center" HEIGHT=60>
    <td colspan="3"></td>
    <td colspan="2"></td>
    <td colspan="3"></td>
    <td colspan="3"></td>
  </tr>
</table>
