<% if can? :manage, :hr %>

  <p id="notice"><%= notice %></p>

  <p>
    <b>Code:</b>
    <%= @hr_subcompany.code %>
  </p>

  <p>
    <b>Name:</b>
    <%= @hr_subcompany.name %>
  </p>

  <p>
    <b>Remark:</b>
    <%= @hr_subcompany.remark %>
  </p>


  <%= link_to 'Edit', edit_hr_subcompany_path(@hr_subcompany) %> |
  <%= link_to 'Back', hr_subcompanies_path %>

<% else %>

  <%= render "site/denied"  %>

<% end %>