<h2>Listing suppliers</h2>

<% if can? :manage, :suppliers  %>

  <p/>

  <table>
    <tr>
      <th/>
      <%= button_to 'Add New Suppliers', new_supplier_path, :method=>:get %>

      <th/><%= will_paginate @suppliers %>
    </tr>
  </table>

  <table>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Category</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

    <% @suppliers.each do |supplier| %>
      <tr>
        <td><%= supplier.code %></td>
        <td><%= supplier.name %></td>
        <td><%= supplier.category %></td>
        <td><%= link_to 'Show', supplier %></td>
        <td><%= link_to 'Edit', edit_supplier_path(supplier) %></td>
        <td><%= link_to 'Del', supplier, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
  </table>

  <br />


  <table>
    <tr>
      <th/>
      <%= button_to 'Add New Suppliers', new_supplier_path, :method=>:get %>

      <th/><%= will_paginate @suppliers %>
    </tr>
  </table>

<% else %>

  <%= render "site/denied"  %>

<% end %>